/*GENERAL STYLING*/
body {
    margin: 0%;
}

/*H1 Heading Tag Styles*/
h1 {
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 3%;
    color: rgb(8, 8, 44);
    transition: 1s ease;
}

h1:hover {
    text-shadow: 3px 3px 4px #0a0a0a;
    transition: 1s ease;
}

/*Styling for the portfolio's title text and quote.*/
.violet-text {
    color: rgb(197, 110, 231);
}

q {
    font-style: italic;
}

.center {
    text-align: center;
}

/*Anchors*/
a {
    color: blue;
    text-decoration: none;
}

/*Images*/
img {
    filter: blur(2px);
    border-radius: 10px;
    max-width: 100%;
    height: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: filter 1s ease;
}

img:hover {
    filter: blur(0px);
    transition: filter 1s ease;
}

@media screen and (max-width: 576px) {
    img{
        height: 100px;
        margin-top: 150px;
    }
}

/*Footer*/
footer{
    padding: 2%;
    background-color: white;
}

/*NAV-BARRR!!!*/
.navbar{
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
    -webkit-animation: moveNav 5s;
    animation: moveNav 5s;
}

/*This part is for moveNav, but that's a bit beyond me at present.*/
@keyframes moveNav{
    from {left: -100vw;}
    to {eft: 0vw;}  /*The summed effect of these two lines is to move the navbar into place on the screen.*/
}

/*IDK it fixes the text in the same way?*/
@keyframes moveNavText{
    from {left: -100vw;}
    to {eft: 0vw;}  /*The summed effect of these two lines is to move the navbar into place on the screen.*/
}


/*navbar links*/
.navbar a{
float: left;
display: block;
color: white;
padding: 14px 16px;
text-decoration: none;
font-family: 'Courier New', Courier, monospace;
font-size: 20px;
text-align: center;
position: relative;
-webkit-animation: moveNavText 5.75s;
animation: moveNavText 5.75s;
}

/*Small screen accommodations.*/
@media screen and (max-width: 576px){
    .navbar a{
        width: 25%; /*Degree of shrinking*/
        font-size: 12px;
    }
}

.navbar a:hover{
    background-color: white;
    color: black;
    font-weight: bold;
}
.navbar a.active {
    background-color: #444444;
}

/*Video Styling*/
#typing-video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
}

@media screen and (max-width: 576px){
    #typing-video{
        display: none;
    }
}

.video-text{
    background: rgba(0,0,0,0.5);
    color: white;
    width: 100%;
    padding: 20px;
    position: relative;
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
}

@keyframes moveVideoText{
    from {top: -100vw;}
    to {top: 0vw;}
}


/*Table Styling*/
* { /*This effect effects all elements on the page.*/
    box-sizing: border-box;
}

.left-column{
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3%;
    height: 400px;
    background-color: #f2d2f2;
}

@media screen and (max-width: 576px){
    .left-column{
        overflow: auto;
    }
}

.right-column{
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background-color: #444444;
}

.column-tall{
    padding-top: 3.5%;
    height: 450px;
}

.row:after{
    content:"";
    display: table;
    clear: both;
}

input[type=text]{
    width: 100%;
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input[type=text]:hover{
    box-shadow: 2px 2px 5px #000000 inset; /*Give them the appearance of depth when hovered over!*/
    padding: 10x;
}