/*This imports the font Merriweather from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Sacramento&display=swap');


/*MAIN STYLE*/
body {
    font-family: "Merriweather", serif;
    /*Font from fonts.google.com*/
    font-size: medium;
    font-weight: lighter;
    background-color: antiquewhite;
    text-align: center;
}

p,
#video {
    width: 80%;
    margin: 0% 10% 0% 10%;
    display: inline-block;
}

img {
    border-radius: 15px;
    border: none;
    display: block;
    margin: auto;
}


/*HEADERS*/
nav {
    margin: -12px -8px 10px -8px;
    padding-top: 10px;
    background-color: rgb(228, 186, 123);
    border-radius: 0px 0px 20px 20px;
}

ul {
    display: flex;
    align-items: center;

    list-style-type: none;
}

.main_Nav {
    font-weight: bold;
    display: flexbox;
    align-items: center;
}

li a {
    padding: 0px 10px 10px 10px;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    background-color: rgb(228, 186, 123);
}


/*BODY OF DOCUMENT*/
section {
    padding-top: 20px;
    padding-bottom: 20px;
}

div {
    font-weight: lighter;
    color: rgb(53, 28, 16);
    text-align: center;
}


/*CONTACTS*/
form {
    display: table;
    /*This formats the contents in rows and columns.*/
    padding: 15px;
    margin-left: auto;
    margin-right: auto;

}


form input {
    font-size: 15px;
    color: rgb(65, 65, 65);
    border: 2px solid rgb(53, 28, 16);
    border-radius: 5px;
    padding: 3px;
    margin: 10px 15px 10px 0px;
    outline: none;
}


label {
    font-size: 18px;
    margin: 10px;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    resize: both;
    /*This allows the user to resize the text area in both width and height.*/
    border: 3px solid rgb(53, 28, 16);
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(65, 65, 65);
    font-size: 15px;
    transition: 0.3s ease-out;
    outline: none;
    /*Will transition back to dark grey.*/
}

input[type="submit"] {
    background-color: rgb(228, 186, 123);
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    margin-top: 20px;
    color: black;
    cursor: pointer;
    float: right;
    /*Positions the submit button on the bottom right of the form.*/
}


/*FOOTER*/
footer {
    text-align: center;
    background-color: rgb(228, 186, 123);
    border: none;
    border-radius: 20px 20px 0px 0px;
    margin: 10px -8px -8px -8px;
}

/*                  ALL THE LIGHTBOX STUFF                            */

.columnLB { /*This arranges the pictures on the page itself (not in the modal)*/
    padding: 0 8px;
    float: left;
    width: 18%;
    padding: auto;
}

.row { /*This is keeping them in one row.*/
    box-sizing: border-box;
    height: 140px;
}

.close {
    /*This places an X in the upper right for closing out the modal.*/
    color: orangered;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 30px;
    font-weight: normal;
}


img.hover-shadow {
    transition: 0.3s;
    /*Slight shadow fade in around images on main page that link to modal.*/
}

.hover-shadow:hover {
    /*Details out that shadow around the images.*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*Next and Previous Buttons*/
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: orangered;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;  /*Prevents selection.*/
    box-sizing: border-box;
   
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}


/*DIRECTLY THE MODAL STUFF*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(30, 30, 30, 0.95);
}

.slideBanner {
    position: relative;
    background-color: blanchedalmond;
    margin: auto;
    width: 90%;
    max-width: 1200px;
}

img.slideInBanner {
    transition: 0.4s;
}

