/*Tags*/


/*Classes*/
.center-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.grey-circle{
    filter: grayscale(100%);
    border-radius: 200px;
    transform: rotate(180deg);
}
